@model IEnumerable<Post>

@{

}
<h2>Admin Panel!</h2>

<div>
    <ul>
        <li>
            <a asp-controller="Panel" asp-action="Edit">Create</a>
        </li>
        @foreach (var post in Model)
        {
            <li>
                <a>@post.Title</a>
                -
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                -
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">Remove</a>


            </li>
        }
    </ul>
</div>